.nav{
max-height: 800px;
overflow-y: scroll;
overflow-x: hidden;
}
.nav img{
width:96%;
}
.nav .thumbnail{
margin-bottom: 0px;
border: 2px solid #dddddd;
}
.nav .thumbnail:focus{
background-color: #D8EFD6
}